footer {
  width: 100%;
  background-color: #fff;
  background: linear-gradient(#210b11,#3b3f47), no-repeat;
  background-size: cover;
  will-change: transform;
}

body {
  background: linear-gradient(lightgray, white) no-repeat;
  background-size: cover;
}

.header {
  background: #210b11;
  color: white;
}
.header a {
  color: white;
}

ul {
  list-style-type: none;
}

#splash-img {
  background-image: url("./images/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.padtop {
  margin-top: 65px;
}

.card {
  margin: 10px;
}

.fa-heart {
  color: red;
}